table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--border-color);

}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

.return i {
    cursor: pointer;
    color: var(--primary-color);
}

button.dropbtn {
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px 10px 0;
}

p+h3 {
    margin-top: 10px;
}

.action_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.back_btn {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.back_btn:hover {
    opacity: 0.8;
}

.back_btn {
    padding-left: 14px;
    color: var(--primary-color);
}

td[colspan="7"] {
    text-align: center;
    font-size: 24px;
}