table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

tr {
    border-bottom: 1px solid var(--border-color);

}

th {
    padding: 10px;
}

th:first-child {
    text-align: left;
}

td {
    padding: 10px;
}

td:first-child {
    max-width: 400px;
}

td:nth-child(n+2) {
    text-align: center;
}

td.cart_item {
    display: flex;
}

.info {
    padding: 10px;
}

.info h2 {
    font-weight: 500;
}

.info p {
    margin-top: 10px;
    font-size: 14px;
}

.amount_picker {
    display: flex;
    align-items: center;
    max-width: 186px;
    margin: 0 auto;
}

.decrease_btn,
.increase_btn {
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 999px;
    user-select: none;
}

.decrease_btn:hover,
.increase_btn:hover {
    box-shadow: var(--box-shadow);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    line-height: 50px;
    border: none;
    flex: 1;
}

.clear_cart i {
    font-size: 26px;
    cursor: pointer;
    color: var(--primary-color);
}

.total_price {
    text-align: end;
    margin: 44px 10px;
}

.action_btn {
    display: flex;
    justify-content: space-between;
}

.back_btn,
.buy_btn {
    margin: 0px 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.back_btn:hover,
.buy_btn:hover {
    opacity: 0.8;
}

.back_btn {
    padding-left: 14px;
    color: var(--primary-color);
}

.buy_btn {
    color: white;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 0px 50px;

}

/* Empty State */
.empty_state {
    text-align: center;
    padding: 10px;
}

.empty_state img {
    margin-bottom: 20px;
}