.home_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
}

.product-item {
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    cursor: pointer;
}

.product-item:hover {
    box-shadow: inset var(--box-shadow);
}

.product-item img {
    width: 100%;
}

.product-item .product-name {
    text-align: center;
    font-weight: 500;
    margin: 20px 20px 10px 20px;
}

.product-item .product-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.add-to-cart {
    position: absolute;
    background-color: white;
    bottom: 100px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    cursor: pointer;
}

.add-to-cart:hover {
    box-shadow: inset var(--box-shadow);
}

@media screen and (max-width: 768px) {
    .home_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 15px;
    }

    .product-item img {
        object-fit: cover;
        height: 300px;
    }

    .product-item .product-name {
        margin: 15px 15px 5px 15px;
        font-size: 14px;
    }

    .product-item .product-info {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .home_container {
        grid-template-columns: 1fr;
        gap: 20px 10px;
    }

    .product-item img {
        object-fit: cover;
        height: 222px;
    }

    .product-item .product-name {
        margin: 5px 15px 5px 15px;
    }

}