/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    opacity: 0.5;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 20px;
}

.modal form div:first-child {
    grid-row: 1/2;
    grid-column: 1/7;

}

.modal form div:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
}

.modal form div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 4/7;
}

.modal form div:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/7;
}

.modal form div:nth-child(5) {
    grid-row: 4/5;
    grid-column: 1/7;
}

.modal form div:nth-child(6) {
    grid-row: 5/6;
    grid-column: 1/7;
}

.modal form div:nth-child(7) {
    grid-row: 6/7;
    grid-column: 1/3;
}

.modal form div:nth-child(8) {
    grid-row: 6/7;
    grid-column: 3/5;
}

.modal form div:nth-child(9) {
    grid-row: 6/7;
    grid-column: 5/7;
}

.modal form div:nth-child(10) {
    grid-row: 7/8;
    grid-column: 1/7;
}

.modal form div:nth-child(11) {
    grid-row: 8/9;
    grid-column: 1/7;
}

.modal form div:nth-child(12) {
    grid-row: 9/10;
    grid-column: 1/7;
}



/* FORM  */


input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ddd inset;
    color: #6e6e6e;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    height: 40px;
}

textarea {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

span.require-field {
    color: red;
}

button {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 125px;
    padding: 11px 10px;
    text-align: center;
    transition: 0.3s;
}

button[type="reset"] {
    background-color: #cb444a;
    border-color: #cb444a;
    min-width: 0;
}

h2 {
    color: #383838;
    font-size: 18px;
    margin-bottom: 17px;
}

form div {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    float: right;
}

textarea {
    max-height: 255px;
}

.full-size {
    width: 100%;
}

label[for="lastname"],
label[for="city"] {
    margin-bottom: -10px;
}

small {
    color: red;
}

.submit {
    margin-top: -10px;
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

.submit button {
    display: block;
    margin-left: 20px;
}

.submit span {
    font-size: 12px;
    margin-top: 10px;
}